:root {
    --color-black: black;
    --color-grey: rgba(120, 119, 116, 1);
    --color-brown: rgba(159, 107, 83, 1);
    --color-orange: rgba(217, 115, 13, 1);
    --color-yellow: rgba(203, 145, 47, 1);
    --color-green: rgba(68, 131, 97, 1);
    --color-blue: rgba(51, 126, 169, 1);
    --color-purple: rgba(144, 101, 176, 1);
    --color-pink: rgba(193, 76, 138, 1);
    --color-red: rgba(212, 76, 71, 1);

    --tran-grey: rgba(120, 119, 116, 0.6);
    --tran-brown: rgba(159, 107, 83, 0.6);
    --tran-orange: rgba(217, 115, 13, 0.6);
    --tran-yellow: rgba(203, 145, 47, 0.6);
    --tran-green: rgba(68, 131, 97, 0.6);
    --tran-blue: rgba(51, 126, 169, 0.6);
    --tran-purple: rgba(144, 101, 176, 0.6);
    --tran-pink: rgba(193, 76, 138, 0.6);
    --tran-red: rgba(212, 76, 71, 0.6);

    --back-grey: rgba(227, 226, 224, 1);
    --back-brown: rgba(238, 224, 218, 1);
    --back-orange: rgba(250, 222, 201, 1);
    --back-yellow: rgba(253, 236, 200, 1);
    --back-green: rgba(219, 237, 219, 1);
    --back-blue: rgba(211, 229, 239, 1);
    --back-purple: rgba(232, 222, 238, 1);
    --back-pink: rgba(245, 224, 233, 1);
    --back-red: rgba(255, 226, 221, 1);

    --back-main-white: rgb(247, 246, 243);
    --back-main-black: rgb(52, 52, 52);
}

.dark {
    background-color: var(--back-main-black);
    color: var(--back-main-white);

    p,
    a {
        color: var(--back-main-white);
    }

    section {
        border-bottom: 3px solid var(--color-grey);
    }

    div {
        &.callout {
            background-color: var(--color-grey);
        }
    }

    div.toggleDiv {
        background-color: var(--back-main-black);
    }

    table {
        th {
            background-color: var(--color-grey);
        }

        tr {
            background-color: var(--color-green);

            &:nth-child(n+2) {
                background-color: var(--color-blue);
            }
        }
    }

    button {    
        &.add {
            background-color: var(--color-blue);
    
            &:hover {
                background-color: var(--tran-blue);
            }
        }
    
        &.edit {
            background-color: var(--color-yellow);
    
            &:hover {
                background-color: var(--tran-yellow);
            }
        }
    
        &.remove {
            background-color: var(--color-red);
    
            &:hover {
                background-color: var(--tran-red);
            }
        }
    }
}