# enable apache rewrite engine
RewriteEngine on

RewriteCond %{HTTPS} on 
RewriteCond %{HTTP_HOST} ^photo.audricrosier.be [NC] 
RewriteCond https://%{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]

RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
DirectoryIndex index.php