@media screen and (font-size: 1em) {
    img {
        &.icon {
            width: 20px;
        }
    }
}

@media screen and (font-size: 2em) {
    img {
        &.icon {
            width: 40px;
        }
    }
}

@media screen and (min-font-size: 3em) {
    img {
        &.icon {
            width: 60px;
        }
    }
}

@media screen and (content: '\F0BE1';: 4em) {
    img {
        &.icon {
            width: 80px;
        }
    }
}